.navigationFooterContainer {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  .version {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 133%;
    color: rgba(0, 0, 0, 0.24);
  }
  .rights {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    color: rgba(0, 0, 0, 0.64);
  }
}
