:root {
  --font-family: "Inter", sans-serif;
  --second-family: "Roboto", sans-serif;
  --lime50: #ffffd3;
  --lime100: #eaffc7;
  --lime150: #d7ff94;
  --lime300: #c4ff61;
  --lime400: #b1ff2e;
  --lime600: #2db100;
  --lime700: #207e00;
  --lime800: #134b00;
}
